<%- include('partials/admin/header') %>

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/basic.min.css">

    <form action="/zulu/media" method="post" class="dropzone" id="uploader" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrf %>">

        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>

    <br><br>
    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th>Име</th>
                <th>Размер</th>
                <th>Преглед</th>
                <th>Създаден</th>
                <th>Настройки</th>
            </tr>
        </thead>
        <tbody>
            <% els.forEach((item) => { %>
            <tr>
                <td><%= item.original %></td>
                <td><%= item.size %></td>
                <td>
                    <a href="/media/<%= item._id %>" target="blank">Преглед на файла</a>
                </td>
                <td><%= item.created %></td>
                <td>
                    <form action="/zulu/media/<%= item._id %>?_method=DELETE" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrf %>">

                        <button type="submit" class="button is-danger is-small">Изтрий</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <%- include('partials/scripts') %>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script>
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement );

        pond.setOptions({
            server: ''
        });
        
        Dropzone.options.uploader = {
            paramName: "file",
            url: '/zulu/media',
            method: 'post',
            maxFilesize: 10,
            headers: {
                'X-CSRF-TOKEN': '<%= csrf %>'
            },
            sending: function (file, xhr, formData) {
                formData.append('_csrf', '<%= csrf %>');
            }
        };
    </script>

<%- include('partials/admin/footer') %>